<nav>
    <div class="site-title">
        <h1>
            <a href="/">Lager App </a>
        </h1>
        <p>Webframework</p>
    </div>
    <ul>
        <li><a href="/">Übersicht</a></li>
        <li><a href="/stocks/create">Neues Lager</a></li>
    </ul>
</nav>