<nav>
    <div class="site-title">
        <a href="/"><h1>Lager App</h1></a>
        <p>Webframework</p>
    </div>
    <ul>
        <li><a href="/">Übersicht</a></li>
        <li><a href="/stocks/create">Neues Lager</a></li>
    </ul>
</nav>