<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
    <div class="not-found content">
        <h3>können Sie leider keine Produkte mehr in diesem Lager hinzufügen, versuchen Sie ein anderes Lager</h3>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>